@{
    ViewData["Title"] = "Home Page";
}
<style>
    
</style>
<script>

</script>
<div>
    <h1 class="display-4">欢迎来到好声音歌唱比赛投票系统</h1>

    <div id="examplel">
        <h1>比赛主题：</h1>
        <p>
            比赛简介：
        </p>
        <ul class="matchul">
            <li>比赛开始时间：</li>
            <li>比赛结束时间：</li>
        </ul>

    </div>
</div>
