@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Phone : 13101014505</p>
<p>E-mail : <a href="https://mail.qq.com/cgi-bin/frame_html?sid=rB3vUFdxQEmDpA9t&r=58a00f574b1588f208361c74186b6d5a&lang=zh">2869495729@qq.com</a></p>
